# IMPORTING OUR CSV FILE AND MODULS

In [78]:
import numpy as np
import pandas as pd
import sqlite3

#Read your CSV file
df = pd.read_csv("C:/Users/sumit/OneDrive/Desktop/excel data/ncr_ride_bookings.csv")

#connecting sql with database
with sqlite3.connect("mydb.db") as conn:
#option 2: 
#conn=sqlite3.connect("mydb.db")
#cursor = conn.cursor() 
    tbale = pd.read_sql_query("Select * from ncr_ride_bookings",conn)
    print(tbale)
df.rename(columns={'Payment Method': 'Payment Mode'}, inplace=True)
# Save back to file
df.to_csv("C:/Users/sumit/Downloads/archive/ncr_ride_bookings.csv", index=False)

                       Date      Time    Booking ID   Booking Status  \
0       2024-03-23 00:00:00  12:29:38  "CNR5884300"  No Driver Found
1       2024-11-29 00:00:00  18:01:39  "CNR1326809"       Incomplete
2       2024-08-23 00:00:00  08:56:10  "CNR8494506"        Completed
3       2024-10-21 00:00:00  17:17:25  "CNR8906825"        Completed
4       2024-09-16 00:00:00  22:08:00  "CNR1950162"        Completed
...                     ...       ...           ...              ...
149995  2024-11-11 00:00:00  19:34:01  "CNR6500631"        Completed
149996  2024-11-24 00:00:00  15:55:09  "CNR2468611"        Completed
149997  2024-09-18 00:00:00  10:55:15  "CNR6358306"        Completed
149998  2024-10-05 00:00:00  07:53:34  "CNR3030099"        Completed
149999  2024-03-10 00:00:00  15:38:03  "CNR3447390"        Completed

         Customer ID   Vehicle Type         Pickup Location  \
0       "CID1982111"          eBike             Palam Vihar
1       "CID4604802"       Go Sedan           Shastri Nagar
2       "CID9202816"           Auto                 Khandsa
3       "CID2610914"  Premier Sedan     Central Secretariat
4       "CID9933542"           Bike        Ghitorni Village
...              ...            ...                     ...
149995  "CID4337371"        Go Mini                 MG Road
149996  "CID2325623"        Go Mini        Golf Course Road
149997  "CID9925486"       Go Sedan  Satguru Ram Singh Marg
149998  "CID9415487"           Auto               Ghaziabad
149999  "CID4108667"  Premier Sedan         Ashok Park Main

            Drop Location  Avg VTAT  Avg CTAT  ...  Incomplete Rides  \
0                 Jhilmil       0.0       0.0  ...               NaN
1       Gurgaon Sector 56       4.9      14.0  ...               1.0
2           Malviya Nagar      13.4      25.8  ...               NaN
3                Inderlok      13.1      28.5  ...               NaN
4             Khan Market       5.3      19.6  ...               NaN
...                   ...       ...       ...  ...               ...
149995           Ghitorni      10.2      44.4  ...               NaN
149996         Akshardham       5.1      30.8  ...               NaN
149997           Jor Bagh       2.7      23.4  ...               NaN
149998         Saidulajab       6.9      39.6  ...               NaN
149999  Gurgaon Sector 29       3.5      33.7  ...               NaN

       Incomplete Rides Reason  Booking Value Ride Distance  Driver Ratings  \
0                         None              0          0.00             0.0
1            Vehicle Breakdown            237          5.73             0.0
2                         None            627         13.58             4.9
3                         None            416         34.02             4.6
4                         None            737         48.21             4.1
...                        ...            ...           ...             ...
149995                    None            475         40.08             3.7
149996                    None           1093         21.31             4.8
149997                    None            852         15.93             3.9
149998                    None            333         45.54             4.1
149999                    None            806         21.19             4.6

       Customer Rating  Payment Mode  Zone  Zone_ncr  Zone_Delhi_ncr
0                  0.0          None  None      None            None
1                  0.0           UPI  None      None            None
2                  4.9    Debit Card  None      None            None
3                  5.0           UPI  None      None            None
4                  4.3           UPI  None      None            None
...                ...           ...   ...       ...             ...
149995             4.1   Uber Wallet  None      None            None
149996             5.0           UPI  None      None            None
149997             4.4          Cash  None      None            None
149998             3.7           UPI  None      None            None
149999             4.9   Credit Card  None      None            None

[150000 rows x 24 columns]

In [6]:
import warnings

# Ignore all warnings
warnings.filterwarnings('ignore')

# Or ignore only FutureWarnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Data Cleaning :
- Converting NULL value into meaningfull Data
- Changing Data types for analysis
- Make the dataset accurate, consistent, and usable before analysis or visualization.

In [7]:
#Total Count of Null values.
null_value = pd.read_sql_query('select count(*) from ncr_ride_bookings where "Avg VTAT" and "Avg CTAT" is NULL;',conn)

#Changing Null values of Avg VTAT into 0 to make data usable
df['Avg VTAT'].fillna(0,inplace=True)
df.to_sql("ncr_ride_bookings", conn, if_exists='replace', index=False)

#Changing Null values of Avg CTAT into 0 to make data usable
df['Avg CTAT'].fillna(0,inplace=True)
df.to_sql("ncr_ride_bookings", conn, if_exists='replace', index=False)

#Changing Data type of Date.
df['Date'] = pd.to_datetime(df['Date'])
print(df.head(10))
print(null_value)

        Date      Time    Booking ID   Booking Status   Customer ID  \
0 2024-03-23  12:29:38  "CNR5884300"  No Driver Found  "CID1982111"
1 2024-11-29  18:01:39  "CNR1326809"       Incomplete  "CID4604802"
2 2024-08-23  08:56:10  "CNR8494506"        Completed  "CID9202816"
3 2024-10-21  17:17:25  "CNR8906825"        Completed  "CID2610914"
4 2024-09-16  22:08:00  "CNR1950162"        Completed  "CID9933542"
5 2024-02-06  09:44:56  "CNR4096693"        Completed  "CID4670564"
6 2024-06-17  15:45:58  "CNR2002539"        Completed  "CID6800553"
7 2024-03-19  17:37:37  "CNR6568000"        Completed  "CID8610436"
8 2024-09-14  12:49:09  "CNR4510807"  No Driver Found  "CID7873618"
9 2024-12-16  19:06:48  "CNR7721892"       Incomplete  "CID5214275"

    Vehicle Type      Pickup Location      Drop Location  Avg VTAT  Avg CTAT  \
0          eBike          Palam Vihar            Jhilmil       0.0       0.0
1       Go Sedan        Shastri Nagar  Gurgaon Sector 56       4.9      14.0
2           Auto              Khandsa      Malviya Nagar      13.4      25.8
3  Premier Sedan  Central Secretariat           Inderlok      13.1      28.5
4           Bike     Ghitorni Village        Khan Market       5.3      19.6
5           Auto                AIIMS        Narsinghpur       5.1      18.1
6        Go Mini             Vaishali       Punjabi Bagh       7.1      20.4
7           Auto          Mayur Vihar          Cyber Hub      12.1      16.5
8       Go Sedan      Noida Sector 62    Noida Sector 18       0.0       0.0
9           Auto               Rohini       Adarsh Nagar       6.1      26.0

   ...  Reason for cancelling by Customer Cancelled Rides by Driver  \
0  ...                                NaN                         0
1  ...                                NaN                         0
2  ...                                NaN                         0
3  ...                                NaN                         0
4  ...                                NaN                         0
5  ...                                NaN                         0
6  ...                                NaN                         0
7  ...                                NaN                         0
8  ...                                NaN                         0
9  ...                                NaN                         0

   Driver Cancellation Reason Incomplete Rides  Incomplete Rides Reason  \
0                         NaN              NaN                      NaN
1                         NaN              1.0        Vehicle Breakdown
2                         NaN              NaN                      NaN
3                         NaN              NaN                      NaN
4                         NaN              NaN                      NaN
5                         NaN              NaN                      NaN
6                         NaN              NaN                      NaN
7                         NaN              NaN                      NaN
8                         NaN              NaN                      NaN
9                         NaN              1.0              Other Issue

  Booking Value  Ride Distance  Driver Ratings  Customer Rating  Payment Mode
0             0           0.00             0.0              0.0           NaN
1           237           5.73             0.0              0.0           UPI
2           627          13.58             4.9              4.9    Debit Card
3           416          34.02             4.6              5.0           UPI
4           737          48.21             4.1              4.3           UPI
5           316           4.85             4.1              4.6           UPI
6           640          41.24             4.0              4.1           UPI
7           136           6.56             4.4              4.2           UPI
8             0           0.00             0.0              0.0           NaN
9           135          10.36             0.0              0.0          Cash

[10 rows x 21 columns]
   count(*)
0         0

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 22 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           150000 non-null  float64
 9   Avg CTAT                           150000 non-null  float64
 10  Cancelled Rides by Customer        150000 non-null  int64
 11  Reason for cancelling by Customer  10500 non-null   object
 12  Cancelled Rides by Driver          150000 non-null  int64
 13  Driver Cancellation Reason         27000 non-null   object
 14  Incomplete Rides                   9000 non-null    float64
 15  Incomplete Rides Reason            9000 non-null    object
 16  Booking Value                      150000 non-null  int64
 17  Ride Distance                      150000 non-null  float64
 18  Driver Ratings                     150000 non-null  float64
 19  Customer Rating                    150000 non-null  float64
 20  Payment Mode                       102000 non-null  object
 21  Zone                               150000 non-null  object
dtypes: float64(6), int64(3), object(13)
memory usage: 25.2+ MB

In [77]:
da = pd.read_sql_query("select * from ncr_ride_bookings",conn)
print(da)

                       Date      Time    Booking ID   Booking Status  \
0       2024-03-23 00:00:00  12:29:38  "CNR5884300"  No Driver Found
1       2024-11-29 00:00:00  18:01:39  "CNR1326809"       Incomplete
2       2024-08-23 00:00:00  08:56:10  "CNR8494506"        Completed
3       2024-10-21 00:00:00  17:17:25  "CNR8906825"        Completed
4       2024-09-16 00:00:00  22:08:00  "CNR1950162"        Completed
...                     ...       ...           ...              ...
149995  2024-11-11 00:00:00  19:34:01  "CNR6500631"        Completed
149996  2024-11-24 00:00:00  15:55:09  "CNR2468611"        Completed
149997  2024-09-18 00:00:00  10:55:15  "CNR6358306"        Completed
149998  2024-10-05 00:00:00  07:53:34  "CNR3030099"        Completed
149999  2024-03-10 00:00:00  15:38:03  "CNR3447390"        Completed

         Customer ID   Vehicle Type         Pickup Location  \
0       "CID1982111"          eBike             Palam Vihar
1       "CID4604802"       Go Sedan           Shastri Nagar
2       "CID9202816"           Auto                 Khandsa
3       "CID2610914"  Premier Sedan     Central Secretariat
4       "CID9933542"           Bike        Ghitorni Village
...              ...            ...                     ...
149995  "CID4337371"        Go Mini                 MG Road
149996  "CID2325623"        Go Mini        Golf Course Road
149997  "CID9925486"       Go Sedan  Satguru Ram Singh Marg
149998  "CID9415487"           Auto               Ghaziabad
149999  "CID4108667"  Premier Sedan         Ashok Park Main

            Drop Location  Avg VTAT  Avg CTAT  ...  Incomplete Rides  \
0                 Jhilmil       0.0       0.0  ...               NaN
1       Gurgaon Sector 56       4.9      14.0  ...               1.0
2           Malviya Nagar      13.4      25.8  ...               NaN
3                Inderlok      13.1      28.5  ...               NaN
4             Khan Market       5.3      19.6  ...               NaN
...                   ...       ...       ...  ...               ...
149995           Ghitorni      10.2      44.4  ...               NaN
149996         Akshardham       5.1      30.8  ...               NaN
149997           Jor Bagh       2.7      23.4  ...               NaN
149998         Saidulajab       6.9      39.6  ...               NaN
149999  Gurgaon Sector 29       3.5      33.7  ...               NaN

       Incomplete Rides Reason  Booking Value Ride Distance  Driver Ratings  \
0                         None              0          0.00             0.0
1            Vehicle Breakdown            237          5.73             0.0
2                         None            627         13.58             4.9
3                         None            416         34.02             4.6
4                         None            737         48.21             4.1
...                        ...            ...           ...             ...
149995                    None            475         40.08             3.7
149996                    None           1093         21.31             4.8
149997                    None            852         15.93             3.9
149998                    None            333         45.54             4.1
149999                    None            806         21.19             4.6

       Customer Rating  Payment Mode  Zone  Zone_ncr  Zone_Delhi_ncr
0                  0.0          None  None      None            None
1                  0.0           UPI  None      None            None
2                  4.9    Debit Card  None      None            None
3                  5.0           UPI  None      None            None
4                  4.3           UPI  None      None            None
...                ...           ...   ...       ...             ...
149995             4.1   Uber Wallet  None      None            None
149996             5.0           UPI  None      None            None
149997             4.4          Cash  None      None            None
149998             3.7           UPI  None      None            None
149999             4.9   Credit Card  None      None            None

[150000 rows x 24 columns]

# DATA MINING

## Total Completed & Incomplete Rides:
Number of Completed & Incomplete Rides

In [10]:
Total_Ride = pd.read_sql_query("Select count('Booking Status') as 'Total Rides' from ncr_ride_bookings as Total_Rides",conn)
Total_Ride_Completed = pd.read_sql_query("Select count(*)  as 'Total Completed Ride' from ncr_ride_bookings WHERE [Booking Status] = 'Completed';",conn)

#Sum of all kind of incomplete ride:
Total_Ride_Incomplete = pd.read_sql_query("Select count(*)  as 'Total Incomplete Ride' from ncr_ride_bookings WHERE [Booking Status] in ('Incomplete','No Driver Found','Cancelled by Customer','Cancelled by Driver');",conn)
print(Total_Ride)
print(Total_Ride_Completed)
print(Total_Ride_Incomplete)

   Total Rides
0       150000
   Total Completed Ride
0                 93000
   Total Incomplete Ride
0                  57000

## Total Completed & Incomplete Rides By Vehicle:
Number of Completed & Incomplete Rides By vehical to Find which vehical is most popular amoung users and which one need more attention

In [11]:
#Sum of Completed ride And group by vehicle type:
Total_Ride_Completed_vh = pd.read_sql_query("SELECT [Vehicle Type], COUNT([Vehicle Type]) AS [Total Completed Ride],round(sum([Booking Value])/1000000,2) AS [Total Amount (miilion) Completed Ride] FROM ncr_ride_bookings WHERE [Booking Status] = 'Completed' GROUP BY [Vehicle Type];",conn)

#Sum of all kind of incomplete ride And group by vehicle type:
Total_Ride_Incomplete_vh = pd.read_sql_query("SELECT [Vehicle Type], COUNT([Vehicle Type]) AS [Total Incompleted Ride],round(sum([Booking Value])/100000,2) AS [Total Amount (Lakh) Incompleted Ride] from ncr_ride_bookings WHERE [Booking Status] in ('Incomplete','No Driver Found','Cancelled by Customer','Cancelled by Driver') GROUP BY [Vehicle Type];",conn)

print(Total_Ride_Completed_vh)

print(Total_Ride_Incomplete_vh)

    Vehicle Type  Total Completed Ride  Total Amount (miilion) Completed Ride
0           Auto                 23155                                   11.0
1           Bike                 14034                                    7.0
2        Go Mini                 18549                                    9.0
3       Go Sedan                 16676                                    8.0
4  Premier Sedan                 11252                                    5.0
5        Uber XL                  2783                                    1.0
6          eBike                  6551                                    3.0
    Vehicle Type  Total Incompleted Ride  Total Amount (Lakh) Incompleted Ride
0           Auto                   14264                                  11.0
1           Bike                    8483                                   6.0
2        Go Mini                   11257                                   9.0
3       Go Sedan                   10465                                   8.0
4  Premier Sedan                    6859                                   5.0
5        Uber XL                    1666                                   1.0
6          eBike                    4006                                   3.0

# Operational KPIs
Average Trip Duration → AVG(Trip Duration)

Average Trip Distance → AVG(Trip Distance)

Peak Ride Hours → Time period with highest ride frequency.

Ride Cancellation Rate (%) → (Cancelled Rides / Total Rides) * 100

In [105]:
# Average Trip Duration by vendor
Avg_duration_by_vendor = pd.read_sql_query("Select [Avg VTAT],sum([Avg VTAT])/60 as 'Total Hour by vendor',sum([Avg VTAT])/count([Avg VTAT]) as 'Average Trip minutes by vendor' from ncr_ride_bookings",conn)
print(Avg_duration_by_vendor)

# Average Trip Duration by Customer
Avg_duration_by_Customer = pd.read_sql_query("Select [Avg CTAT],sum([Avg CTAT])/60 as 'Total Hour by Customer',sum([Avg CTAT])/count([Avg CTAT]) as 'Average Trip minutes by Customer' from ncr_ride_bookings",conn)
print(Avg_duration_by_Customer)

# Average Trip Distance
Avg_distance = pd.read_sql_query("Select [Ride Distance],sum([Ride Distance]) as 'Total Distance(KMs)',sum([Ride Distance])/count([Ride Distance]) as 'Average Trip Distance(KMs)' from ncr_ride_bookings",conn)
print(Avg_distance)

cancellation_rate = pd.read_sql_query(
    """
    SELECT 
        ROUND
            (SUM([Booking Status] in ('Incomplete','No Driver Found','Cancelled by Customer','Cancelled by Driver') * 100.0) / COUNT(*),
            2) AS [Ride Cancellation Rate (%)],
        COUNT(*) AS [Total Rides]
    FROM ncr_ride_bookings;
    """,
    conn
)

print(cancellation_rate)

   Avg VTAT  Total Hour by vendor  Average Trip minutes by vendor
0       0.0          19661.018333                        7.864407
   Avg CTAT  Total Hour by Customer  Average Trip minutes by Customer
0       0.0            49554.381667                         19.821753
   Ride Distance  Total Distance(KMs)  Average Trip Distance(KMs)
0            0.0           2512975.19                   16.753168
   Ride Cancellation Rate (%)  Total Rides
0                        38.0       150000

In [12]:
peak_hours = pd.read_sql_query(
    """
    SELECT 
        STRFTIME('%H', [Time]) AS Hour,
        COUNT(*) AS [Total Rides]
    FROM ncr_ride_bookings
    GROUP BY STRFTIME('%H', [Time])
    ORDER BY [Total Rides] DESC;
    """,
    conn
)

print(peak_hours.head(5))

  Hour  Total Rides
0   18        12397
1   19        11047
2   17        11044
3   16         9633
4   20         9630

### Here we can see from 18(6PM) to 20(10PM) is the Peak Hour, A large number of customer booking during this time duration
### We can increase Our services in these Hours.

In [23]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')  # Convert to datetime
df.to_sql('ncr_ride_bookings', conn, if_exists='replace', index=False)


peak_Days = pd.read_sql_query(
    """
    SELECT 
        CASE strftime('%w', [Date])
            WHEN '0' THEN 'Sunday'
            WHEN '1' THEN 'Monday'
            WHEN '2' THEN 'Tuesday'
            WHEN '3' THEN 'Wednesday'
            WHEN '4' THEN 'Thursday'
            WHEN '5' THEN 'Friday'
            WHEN '6' THEN 'Saturday'
        END AS [Day_Name],
        COUNT(*) AS [Total Rides]
    FROM ncr_ride_bookings
    GROUP BY [Day_Name]
    ORDER BY [Total Rides] DESC;
    """,
    conn
)

print(peak_Days)

    Day_Name  Total Rides
0     Monday        21644
1   Saturday        21542
2  Wednesday        21413
3     Sunday        21398
4     Friday        21397
5    Tuesday        21391
6   Thursday        21215

### As we can see in the above analysis on monday 6PM to 10Pm is the peak day and hour.

In [48]:
Ride_revenue = pd.read_sql_query("select round(sum([Booking Value])/1000000,4) as 'Total revenue(Million)' from ncr_ride_bookings;",conn)
print(Ride_revenue)

Ride_revenue_VH = pd.read_sql_query("select [Vehicle Type],sum([Booking Value]) as 'Total revenue',round(sum([Booking Value])/1000000,2) as 'Ride total fare(Million)' from ncr_ride_bookings group by [Vehicle Type] order by sum([Booking Value]) desc;",conn)
print(Ride_revenue_VH)

   Total revenue(Million)
0                    51.0
    Vehicle Type  Total revenue  Ride total fare(Million)
0           Auto       12878422                      12.0
1        Go Mini       10338496                      10.0
2       Go Sedan        9369719                       9.0
3           Bike        7837697                       7.0
4  Premier Sedan        6275332                       6.0
5          eBike        3618485                       3.0
6        Uber XL        1528032                       1.0

### On above Analysis we can see our Total Revenue is 51millions And top 3 Performer vehicles are:
-Auto with 12 millions
-Go Mini with  10 millions
-Go Sedan with 9 millions
### ebike and Uber XL are the least performer vehicles with total 4millions